@model IEnumerable<Dota.Models.Heroes.HeroesVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Item Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var hero in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => hero.Name)
            </td>
            <td>
                @foreach (var item in hero.Items)
                {
                    @Html.DisplayFor(modelItem => item.Name)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@hero.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@hero.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@hero.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
